# Ignore .env file
.env

# Ignore service account file
service-account-file.json

# Ignore __pycache__ directory
__pycache__/
api/__pycache__/
migrations/__pycache__/
tests/__pycache__/
services/__pycache__/
.pytest_cache/

# Ignore .vscode directory
.vscode/

# ignore virtual environment
venv/