# Google service account configuration for building file from base64 encoded string
GOOGLE_SERVICE_ACCOUNT_B64=your-google-account-file-as-base64

# Database connection strings
DEVELOPMENT_DATABASE_URI=postgresql://user:password@host:port/dbname
TEST_DATABASE_URI=postgresql://user:password@host:port/dbname
PRODUCTION_DATABASE_URI=postgresql://user:password@host:port/dbname

# Environment variables for the Flask application
SECRET_KEY=your-security-key
SECURITY_SALT=your-security-salt
FLASK_APP=run.py
FLASK_ENV=development
PORT=your-port
SHOW_ERRORS=True

# URLs for the frontend
FRONTEND_ORIGIN_URL=https://xxx.xxx.x.xxx:port
FRONTEND_PUBLIC_URL=https://xxx.xxx.x.xxx
FRONTEND_SECRET_HEADER=your-frontend-secret-header

# Google cloud storage bucket configuration
GOOGLE_CLOUD_STORAGE_BUCKET_NAME=your-google-bucket-name
GOOGLE_APPLICATION_CREDENTIALS=your-google-application-credentials

# Stripe configuration
STRIPE_API_KEY=your-stripe-api-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

# Mailgun configuration
MAILGUN_DOMAIN_NAME=your-mailgun-domain-name
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_SENDER_EMAIL=your-mailgun-sender-email
MAILGUN_VERIFY_EMAIL_TEMPLATE=your-mailgun-verify-email-template
MAILGUN_RESET_PASSWORD_TEMPLATE=your-mailgun-reset-password-template
MAILGUN_ORDER_SHIPPED_TEMPLATE=your-mailgun-order-shipped-template
CONTACT_US_EMAIL=example@example.com

# Redis configuration
DEVELOPMENT_REDIS_URL=redis://host:port/0
PRODUCTION_REDIS_URL=redis://host:port/0
REDIS_SSL_REQUIRED=False

# Gunicorn and Celery configuration when running from Dockerfile
GUNICORN_WORKERS=4
CELERY_WORKER_CONCURRENCY=1

# Celery tasks configuration
CART_UNLOCK_TIME_HOURS=24
RESERVED_STOCK_CLEANUP_HOURS=1
DELETE_GUEST_USERS_DAYS=7